/* 일반 구조 선택자 */
/* 형제관계 태그 중 첫 번째 태그 선택 */
#test1 p:first-child{
    background-color: red;
    color: white;
}

/* 형제관계 태그 중 마지막 태그 선택 */
#test1 p:last-child{
    background-color: orange;
    color: white;
}

/* 형제관계 태그 중에서 앞에서 수열번째 태그 선택 */
#test1 p:nth-child(2n){ 
    background-color: yellowgreen;
    color: white;
}

/* 형제관계 태그 중에서 뒤에서 수열번째 태그 선택 */
#test1 p:nth-last-child(4){
    background-color: skyblue;
    color: white;
}

/* 형태 구조 선택자 */
/* 형제관계 태그 중 첫 번째 태그 선택 */
#test2 p:first-of-type{
    background-color: red;
    color: white;
}

/* 형제관계 태그 중 마지막 태그 선택 */
#test2 p:last-of-type{
    background-color: orange;
    color: white;
}
/* 형제관계 태그 중에서 앞에서 수열번째 태그 선택 */
#test2 p:nth-of-type(2n) {
    background-color: yellowgreen;
    color: white;
}

/* 형제관계 태그 중에서 뒤에서 수열번째 태그 선택 */
#test2 p:nth-last-of-type(3) {
    background-color: skyblue;
    color: white;
}

/* 문자 선택자 */
/* 첫 번째 글자 선택 */
#test3 p::first-letter{
    font-size: 2em;
}

/* 첫 번째 줄 선택 */
#test3 p::first-line{
    background-color: cyan;
}

/* 태그 뒤에 위치하는 공간 선택 */
#test3 p::after{
    content: "@@@@@ 태그 뒤에 추가"; /* content 명시해 줘야 된다 내용이 없어도 ""라도 넣어 줘야 된다*/
    display: block; /* display: block 안 해 주면 inline 형태로 표시됨 inline은 width, height 불가*/
    width: 100px;
    height: 100px;
    background-color: red;

}

/* 태그 앞에 추가 */
#test3 p::before{
    content:"1. ";
}

/* 사용자가 드래그한 글자 선택 */
#test3 p::selection{
    background-color: red;
    color: white;
}

/* 부정 선택자 */
/* 홀수 번째 부정이기 때문에 짝수 번째에 백그라운드 컬러를 설정해 준다 */
#test4 p:not(:nth-child(2n-1)){
    background-color: orange;
}

/* 태그별로 자동 번호를 매겨 주는 속성 */
#test3 p{
    counter-increment: rint;
}

/* 태그 앞에 추가 */
#test3 p::before{
    content: counter(rint)". ";
}

#test4 p{
    counter-increment: rint;
}

#test4 p::before{
    content: counter(rint)". ";
}
